<div class="w-full flex flex-col">
  <h1 class="text-5xl"><%= @monster.name %></h1>

  <div class="flex justify-between items-center w-full">
    <%= link_to 'Back to monsters', monsters_path, class: "text-xs text-gray-400 hover:text-gray-800 transition" %>
    <div class="flex space-x-2 items-center">
      <%= link_to 'Edit this monster', edit_monster_path(@monster), class: "text-xs text-blue-400 hover:text-blue-600" %>
      <%= button_to 'Destroy this monster', monster_path(@monster), method: :delete, class: "text-xs text-red-500 opacity-30 hover:opacity-100 flex items-center" %>
    </div>
  </div>

  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <dl class="my-10 grid grid-cols-12 items-baseline">
    <dt class="text-xs uppercase text-gray-500">Color</dt>
    <dd class="col-span-11 text-xl tracking-wider"><%= @monster.color %></dd>

    <dt class="text-xs uppercase text-gray-500">Height</dt>
    <dd class="col-span-11 text-xl tracking-wider"><%= @monster.height %></dd>

    <dt class="text-xs uppercase text-gray-500">Weight</dt>
    <dd class="col-span-11 text-xl tracking-wider"><%= @monster.weight %></dd>
  </dl>

  <div class="inline-block ml-2">

  </div>

</div>

</div>
